@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    background-color: rgba(105, 170, 170, 1);
}

.zae{
  display:inline-block;
  vertical-align:middle; 
  margin-right: 45px; 
}

.h2flex{
    font-size: 64px;
    color: rgba(4, 195, 228, 1);
    display: flex;
    align-items: center;
}

header{
    background-color: rgba(34, 36, 159, 1);
    height: 639px;
    padding: 45px;
    box-sizing: border-box;
}

.containner-header{
    display: flex;

}

nav{
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:5px solid rgba(75, 255, 198, 1);
    border-top: 5px solid rgba(75, 255, 198, 1);
}


.eba{
    color: #33FF00;
    background-color: #3873F2;
    padding: 10px;
    font-size: 32px;
    text-decoration: none; 
    border-radius: 30px;
    border: 5px solid #4BFFC6;
}

h2 {
    padding: 30px;
    font-size: 50px;
    color: rgba(75, 237, 255, 1);
    text-align: center;
}

.container{
    height: 800px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}


/* картка товара */
.mal{
    background-color: rgba(15, 88, 20, 1);
    width: 600px;
    height: 800px;
    text-align:center ;
}

/* переглянути */
.didiv{
    background-color: rgba(17, 71, 152, 1);
    color: rgba(0, 217, 255, 1);
    padding: 5px;
    font-size: 48px;
    display: inline-block;
    margin-top: 60px;
    width: 350px;
    text-align: center;

}


h3{
    font-size: 48px;
    color: #1551AC;
    text-align: left;
    margin-bottom: 5px;
}

.list-produkts{
    height: 550px;
}
li a{
    text-decoration: none;
    color: #1551AC;
}
ul{
    font-size: 48px;
    margin-left: 250px;
    list-style: url(https://learn.logikaschool.com/uploads/student/1811426/679cd9732f3bf.png);
}
.rightimg{
    display: inline-block;
    text-align: left;
    display: flex;
    align-items: center;
    
}
.rightimg h5{
    color: #3CED48;
    font-size: 55px;
}

footer{
    background-color: rgba(56, 115, 242, 1);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

